body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(248, 0, 0, 0.774);
}

h1 {
    text-align: center;
    color: #333;
}
.menu-item:hover{
    box-shadow: 0 0 50px rgba(15, 212, 219, 0.774);

}
.category-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.category-buttons button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.category-buttons button:hover {
    background-color: #218838;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.menu-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   

}
img{
    width: 100%;
    height: 150px;
}

.menu-item h2 {
    margin: 0;
    color: #333;
}

.menu-item p {
    color: #555;
}

.menu-item span {
    font-weight: bold;
    color: #28a745;
}
@media (max-width: 768px) {
    .menu {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .category-buttons button {
        padding: 8px 15px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .menu {
        grid-template-columns: 1fr;
    }

    .menu-item {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .category-buttons button {
        padding: 8px 12px;
        font-size: 12px;
    }

    .menu-item h2 {
        font-size: 18px;
    }

    .menu-item p {
        font-size: 14px;
    }
}
.menu-item img:hover,
.menu-item img:active {
    transform: scale(1.1);
}